<% provide(:title, "Contact") %>
<body>
<h1>Blue Titanium Corbeau - Home</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at their
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
<p>
  Contact me ... tba
</p>
</body>
</html>
