<body>
  <div class="center jumbotron">
    <h1>Welcome to the Blue Titanium Corbeau Sample Application</h1>
    <h2>This is the homepage for my implementation of
      <a href="https://www.railstutorial.org/" target="_blank">The Rails
        Tutorial</a>. The good stuff is from there. All the errors are all mine.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%#= image_tag "kitten.png", alt: "Kitten picture." %>
  <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org' %>
</body>
</html>
